body {
  background-color: rgb(55, 46, 59);
  color:black;
}

@font-face {
font-family: 'GerthDemoBold';
src:
    url('https://github.com/engineeringVolosati/BlackCube/blob/407f7c28ccbdf84800fb38be9f48f8509f7faab8/fonts/GerthDemoBold.ttf');
}

h1 {
  font-family: 'GerthDemoBold';
  color: rgb(0, 0, 0);
  font-size: 32px;
}
